.conteiner-publicidad2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 30px;
}
.publicidad1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.conteiner-products {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2%;
    padding: 30px;
    width: 100%;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.box-card {
    padding-bottom: 15px;
}

.conteiner-titulos {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);
    height: 80px;
    font-size: 20rem;
    .tittle-box {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .titulares {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    }
}

.marcas-destacadas {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding: 20px;
    background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);

}

.ver-marcas {
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}
.conteiner-marcas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 90%;
    margin: auto;
}
.padre-marcas {
    background-color: black;
    color: violet;
}

.publicidad {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2%;
    padding: 10px 10px 40px;
    width: 100%;
}
.publicidad1 {
    padding-right: 20px;
}
.conteiner-publicidad {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.conteiner-sucursales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.conteiner-veterinarios { 
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.boxvetes { 
    border: 2px solid black;
    border-radius: 2%;
}


.conteiner-servicios {
    display: flex;
    background-color: lavender;
}
.boxes-servicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}
.titular {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
    padding: 20px;
    background-color: lavender;
}
.box-alimento {
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 2%;
    
    
}
.box-imgserv {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.box-alimento {
    width: 25%;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 2%;
}
.box-medicamentos {
    width: 25%;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 2%;
}
.box-veterinaria {
    width: 25%;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 2%;
}
.box-baño {
    width: 25%;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 2%;
}
.text-serv { 
    text-align: center;
    text-align-last: center;
    padding: 10px;
}
.box-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
}





.tittle-sucursal {
    font-size: 60px;
    margin-bottom: 50px;
}


.text-bodys {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.box-imgsucursal {

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 60px;
    img {
        box-shadow: 0px 0px 20px black;
    }
}
