/*********************************************************************************************/
/* HEADER MENU AZUL  ***************************************************************/
/*********************************************************************************************/
.navbarazul {
    width: 100%;
    height: 100px;
    display: flex;
    background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);  
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .conteiner-logo {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .logo-imagen {
    display: flex;
  }
  
  .buscador {
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
  }
  
  .buscador-input {
    width: 100%;
  }
  .tel {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.tel-margenes {
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tel-margenes2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 35px;
}
.tel-parrafo {
    padding: 10px;
    margin-top: 16px;
 
}

.usuario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;

}

.usuario-padd {
    padding: 20px;
}

.usuario-btn {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;

}

.usuario-btn p {
    width: 100%;
    height: 8px;
}


.efecto-hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.efecto-hover:hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: violet;
}
/*********************************************************************************************/
/* HEADER 2 NAV ***************************************************************/
/*********************************************************************************************/



.nav-detalles {
    gap: 10%;
    margin-left: -15%;
    font-family: 'Kdam Thmor Pro', sans-serif;

}
.navbar-nav ul li a {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(185, 64, 185);
}
.scale {
    transform: scale(1, 1);
    margin: 0 auto;
}

.scale:hover{
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

.scale2 {
    transform: scale(1, 1);
    margin: 0 auto;
}

.scale2:hover{
    transform: scale(2, 2);
    transition: all 1s;
}


