* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
  }

@import 'navbar';
@import 'viewmovile';
@import 'conteiners';
@import 'footer'


