@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

/*********************************************************************************************/
/* HEADER MENU AZUL  ***************************************************************/
/*********************************************************************************************/
.navbarazul {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca8ff8), color-stop(#c47cfa), color-stop(#bd67fc), color-stop(#b651fe), to(#af34ff));
  background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.conteiner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo-imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buscador {
  width: 40%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.buscador-input {
  width: 100%;
}

.tel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tel-margenes {
  font-family: 'Kdam Thmor Pro', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tel-margenes2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 35px;
}

.tel-parrafo {
  padding: 10px;
  margin-top: 16px;
}

.usuario {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.usuario-padd {
  padding: 20px;
}

.usuario-btn {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
}

.usuario-btn p {
  width: 100%;
  height: 8px;
}

.efecto-hover {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
}

.efecto-hover:hover {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: violet;
}

/*********************************************************************************************/
/* HEADER 2 NAV ***************************************************************/
/*********************************************************************************************/
.nav-detalles {
  gap: 10%;
  margin-left: -15%;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.navbar-nav ul li a {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #b940b9;
}

.scale {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  margin: 0 auto;
}

.scale:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.scale2 {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  margin: 0 auto;
}

.scale2:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* ESCRITORIO */
@media screen and (min-width: 550px) {
  .header3 {
    display: none;
  }
  .header2 {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header2 .nav-item {
    color: white;
  }
  .header2 .nav-item a {
    color: #f5efef;
    background-color: black;
  }
  .menudrop {
    background-color: black;
  }
  #imglogosz {
    display: block;
  }
  .nav-mob {
    display: none;
  }
  .nav-label {
    display: none;
  }
  .conteiner-box-publicidad2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 15px;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .conteiner-clicksucursales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ca8ff8), color-stop(#c47cfa), color-stop(#bd67fc), color-stop(#b651fe), to(#af34ff));
    background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);
    width: 100%;
    height: auto;
  }
  .box-info2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    text-align: center;
    padding: 50px;
  }
  .text-click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    width: 100%;
  }
  .clicktittle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boxes-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .conteiner-servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
  }
  .boxes-serv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 2%;
  }
  .info-serv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    background: black;
  }
  .box-infoserv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 2px;
    border: white 2px solid;
    padding: 20px;
  }
  .conteiner-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .divform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px 10px;
    -webkit-box-shadow: 0px 0px 10px #111111;
            box-shadow: 0px 0px 10px #111111;
  }
  .tituloform {
    font-family: 'Koulen', cursive;
  }
  .formin {
    padding: 10px;
  }
  .formin input {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px #111111;
            box-shadow: 0px 0px 10px #111111;
    padding: 5px;
    font-family: 'Koulen', cursive;
    width: 300px;
  }
  .formin textarea {
    border-radius: 5px;
    font-family: 'Koulen', cursive;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px #111111;
            box-shadow: 0px 0px 10px #111111;
  }
}

/* ANDROID */
@media screen and (max-width: 550px) {
  .usuario {
    display: none;
  }
  #sucu1 {
    display: none;
  }
  #sucu2 {
    display: none;
  }
  #publi {
    display: none;
  }
  #publi2 {
    display: none;
  }
  #publi2-tit {
    display: none;
  }
  #servicios {
    display: block;
  }
  #txt-serv-switch1 {
    display: none;
  }
  #txt-serv-switch2 {
    display: none;
  }
  #txt-serv-switch3 {
    display: none;
  }
  #txt-serv-switch4 {
    display: none;
  }
  #tit-serv-switch1 {
    display: none;
  }
  #tit-serv-switch2 {
    display: none;
  }
  #tit-serv-switch3 {
    display: none;
  }
  #tit-serv-switch4 {
    display: none;
  }
  .telefonos {
    display: none;
  }
  .buscador {
    display: none;
  }
  .header2 {
    display: none;
  }
  .btn-ver {
    width: 100%;
  }
  #categorias-foot {
    display: none;
  }
  .header3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    list-style: none;
  }
  .publicidad {
    display: none;
  }
  .conteiner-info {
    display: none;
  }
  .conteiner-categorias {
    display: none;
  }
  .conteiner-clientes {
    display: none;
  }
  .conteiner-redes {
    display: none;
  }
  #clientela {
    display: none;
  }
  #redessociales {
    display: none;
  }
  .conteiner-marcas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 20px;
    width: 100%;
    margin: auto;
  }
  .titular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: azure;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ca8ff8), color-stop(#c47cfa), color-stop(#bd67fc), color-stop(#b651fe), to(#af34ff));
    background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);
  }
  .contenedor-produ .ofertas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .conteiner-box-publicidad2 img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  .conteiner-box-publicidad2 {
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .conteiner-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2%;
    padding: 10px;
    margin: 10px;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #delivery {
    display: none;
  }
  .conteiner-clicksucursales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ca8ff8), color-stop(#c47cfa), color-stop(#bd67fc), color-stop(#b651fe), to(#af34ff));
    background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);
    width: 100%;
    height: auto;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .box-info2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 24px;
  }
  .text-click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .clicktittle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .conteiner-logo {
    width: 100%;
  }
  .imagen1sasa {
    margin-top: 9px;
  }
  .logo-imagen {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .tittle-sucursal {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .nav {
    display: none;
  }
  .imgg2 {
    display: none;
  }
  .box-cat {
    display: none;
  }
  .imgsucursal {
    display: none;
  }
  .img-marcas7 {
    display: none;
  }
  .nav-mob {
    display: none;
    position: fixed;
    background-color: black;
    top: 0%;
    bottom: 30%;
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    -webkit-transition: -webkit-clip-path 1s ease-in-out;
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    font-family: 'Bebas Neue', cursive;
    z-index: 999;
    color: #af34ff;
  }
  .nav-mob a {
    color: #af34ff;
  }
  .titulares {
    color: black;
  }
  .nav-input {
    display: block;
    list-style: none;
  }
  .box-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: black;
    padding: 20px;
  }
  .boxes-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-input:checked + .nav-mob {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
    list-style: none;
  }
  .nav-label {
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .conteiner-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    font-family: 'Kdam Thmor Pro', sans-serif;
  }
  .img-mobi {
    display: none;
  }
  section.section-vet {
    border: 2px solid violet;
    -webkit-box-shadow: 0px 0px 15px blueviolet;
            box-shadow: 0px 0px 15px blueviolet;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  img.imgvet {
    width: 100%;
  }
  .info-serv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box-infoserv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    padding: 20px;
    gap: 2%;
  }
  .box-infoserv h2 {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.conteiner-publicidad2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px;
}

.publicidad1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.conteiner-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2%;
  padding: 30px;
  width: 100%;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.box-card {
  padding-bottom: 15px;
}

.conteiner-titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca8ff8), color-stop(#c47cfa), color-stop(#bd67fc), color-stop(#b651fe), to(#af34ff));
  background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);
  height: 80px;
  font-size: 20rem;
}

.conteiner-titulos .tittle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteiner-titulos .tittle-box .titulares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marcas-destacadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca8ff8), color-stop(#c47cfa), color-stop(#bd67fc), color-stop(#b651fe), to(#af34ff));
  background-image: linear-gradient(to top, #ca8ff8, #c47cfa, #bd67fc, #b651fe, #af34ff);
}

.ver-marcas {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.conteiner-marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.padre-marcas {
  background-color: black;
  color: violet;
}

.publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2%;
  padding: 10px 10px 40px;
  width: 100%;
}

.publicidad1 {
  padding-right: 20px;
}

.conteiner-publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.conteiner-sucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.conteiner-veterinarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.boxvetes {
  border: 2px solid black;
  border-radius: 2%;
}

.conteiner-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lavender;
}

.boxes-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.titular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  padding: 20px;
  background-color: lavender;
}

.box-alimento {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  gap: 2%;
}

.box-imgserv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.box-alimento {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  gap: 2%;
}

.box-medicamentos {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  gap: 2%;
}

.box-veterinaria {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  gap: 2%;
}

.box-baño {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  gap: 2%;
}

.text-serv {
  text-align: center;
  text-align-last: center;
  padding: 10px;
}

.box-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px;
}

.tittle-sucursal {
  font-size: 60px;
  margin-bottom: 50px;
}

.text-bodys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-imgsucursal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

.box-imgsucursal img {
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
}

/*********************************************************************************************/
/* FOOTER DESKTOP ****************************************************************************/
/*********************************************************************************************/
/* ESCRITORIO ********************************************************************************/
.footer-conteiner {
  background-color: black;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.conteiner-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2%;
  padding: 10px;
  margin: 10px;
  width: 100%;
  overflow: hidden;
}

.footer-tit {
  color: white;
  font-size: 15px;
}

.conteiner-logo-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25%;
  margin-right: 40px;
}

.logo-imagen-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conteiner-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}

.conteiner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}

.conteiner-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}

.conteiner-clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 140px;
}

.conteiner-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  gap: 5%;
}

.box-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 140px;
}
/*# sourceMappingURL=style.css.map */